#joplin-plugin-content {
  width: fit-content;
  background-color: var(--joplin-background-color);
  color: var(--joplin-color);
}

#copytags {
  width: fit-content;
  display: block;
  flex-direction: column;
  min-width: 300px;
  min-height: 430px;
  overflow-wrap: break-word;
  font-size: var(--joplin-font-size);
  font-family: var(--joplin-font-family);
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 275px;
}
.autocomplete textarea {
  width: 275px;
  border: 1px solid var(--joplin-code-border-color);
  background-color: var(--joplin-background-color);
  padding: 10px;
  font-size: var(--joplin-font-size);
  resize: none;
  color: var(--joplin-color);
  border-radius: 3px;
}
.autocomplete textarea:focus {
  outline: none;
}
.autocomplete textarea[type="text"] {
  background-color: var(--joplin-background-color);
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid var(--joplin-code-border-color);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--joplin-background-color);
  border-bottom: 1px solid var(--joplin-code-border-color);
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--joplin-background-color-hover3);
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--joplin-selected-color) !important;
  color: var(--joplin-color-hover);
}

#tagwarning {
  color: var(--joplin-color-warn);
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
